nav {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-image: url("../img/white.png");
  background-color: #FFFFFF;
  height: 100px;
}

#navbar {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}

#nav-links li a {
  color: #333333;
  text-decoration: none;
  font-size: 20px;
  margin: 20px;
}

#nav-links {
  display: none;
  flex-direction: row;


  position: absolute;
  cursor: pointer;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);

  margin-left: 20px;
  list-style: none;
}

#link0:hover, #link1:hover, #link2:hover, #link3:hover, #link4:hover {
  text-decoration: underline;
}


.line {
  width: 30px;
  height: 2px;
  background: #333333;
  margin: 5px;
}

.show {
  transition: 0.5s;
  display: flex !important;
}

#bar1.open {
  transition: 0.3s;

  transform: translate(0px, 6px) rotate(45deg);
}

#bar2.open {
  transition: 0.3s;
  transform: rotate(-45deg);
}

#bar3.open {
  display: none;
  animation: 2s;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
